/* your code */
table , th , td{
	border : 2px solid black ;
	border-collapse : collapse;
	
}
td{
	text-align : right;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
th:nth-child(even) , td:nth-child(even){
	background-color : pink;
}